body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f4f7f9;
}

.header-top {
  color: #ffffff;
  background-color: #293449;
}

.header-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-header {
  position: relative;
  width: 165px;
  padding: 12px 0px 6px 55px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  background-color: #ee3643;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo-header::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo-header:hover {
  color: #ffffff;
  background-color: #ca2c37;
}

.logo-header:active {
  color: #ffffff;
  background-color: #ba2732;
}

.search {
  position: relative;
  display: block;
  width: 270px;
}

.search-field {
	width: 100%;
	padding: 12px 0px 12px 49px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	font-style: normal;
	font-family: "Cuprum", Arial, sans-serif;
	color: #ffffff;
	background-color: #293449;
	border: none;
	cursor: pointer;
}

.search-field:hover {
	background: #212a3a;
	border: none;
}

.search-field:focus {
	color: #000000;
	background: #ffffff;
	outline: none;
}

.search-field:hover + .search-label {
	background: url("../img/icon/icon-search.svg") no-repeat;
	background-position: 0 0;
}

.search-field:focus + .search-label {
	background: url("../img/icon/icon-search-2.png") no-repeat;
	background-position: 0 0;
}

.search-field::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.search-field::-moz-placeholder {
  color: white;
  opacity: 1;
}

.search-field:-moz-placeholder {
  color: white;
  opacity: 1;
}

.search-field:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.search-field:focus::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.search-field:focus::-moz-placeholder {
  color: black;
  opacity: 1;
}

.search-field:focus:-moz-placeholder {
  color: black;
  opacity: 1;
}

.search-field:focus:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.search-label {
	position: absolute;
	top: 12px;
	left: 17px;
	z-index: 20;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon/icon-search-1.png");
  background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.bookmarks,
.basket {
  background-color: #293449;
}

.bookmarks,
.basket,
.checkout {
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  width: 150px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.basket-full {
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  width: 150px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ee3643;
  padding-left: 50px;
}

.bookmarks {
  padding-left: 44px;
}

.basket {
  padding-left: 50px;
}

.checkout {
  padding-left: 20px;
}

.bookmarks:hover,
.basket:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.basket-full:hover {
  background-color: #ca2c37;
}

.basket-full:active {
  background-color: #ba2732;
  opacity: 0.6;
}

.bookmarks:active,
.basket:active {
  color: #ffffff;
  opacity: 0.6;
  background-color: #161d29;
}

.header-top-wrapper .bookmarks,
.header-top-wrapper .basket,
.header-top-wrapper .basket-full {
  position: relative;
}

.bookmarks::before {
  content: "";
  position: absolute;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket::before {
  content: "";
  position: absolute;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket-full::before {
  content: "";
  position: absolute;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before,
.basket-full:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.basket:active::before,
.basket-full:active::before {
  opacity: 0.5;
}

.checkout {
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.checkout:focus {
  background-color: #63a63e;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 10px 40px 10px;
}

.main-title {
  width: 197px;
  color: #ee3643;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  font-style: italic;
  margin: 4px 71px 0px 52px;
}

.contacts-info {
  margin: 0px 50px 0px 0px;
}

.contacts-info .phone {
  position: relative;
}

.phone {
  display: block;
  width: 270px;
  margin: 0px 0px 5px 0px;
  padding: 9px 10px 8px 70px;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  border: 3px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address {
  width: 270px;
  margin: 0;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.user-navigation {
  padding: 0;
  margin: 0;
}

.login-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: right;
  margin: 0px 0px 0px 18px;
}

.login-link a {
  text-decoration: none;
}

.login-link .login-back {
  position: relative;
}

.login-back {
  display: block;
  font-size: 21px;
  line-height: 21px;
  width: 121px;
  margin: 0px 10px 0px 0px;
  padding: 12px 27px 12px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-back::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 17px;
  background-image: url("../img/icon/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-back:hover::before {
  background-image: url("../img/icon/icon-login-2.svg");
}

.login-back:active::before {
  background-image: url("../img/icon/icon-login.svg");
}

.register-back {
  display: block;
  font-size: 21px;
  line-height: 21px;
  width: 150px;
  padding: 12px 14px 12px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.login-back,
.register-back {
  color: #000000;
  background-color: #ffffff;
}

.login-back:hover,
.register-back:hover {
  color: #ee3643;
}

.login-back:active,
.register-back:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-bottom {
  padding-bottom: 60px;
  margin-bottom: 20px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 25px 0px 23px;
  margin: 0;
  color: #ffffff;
  background-color: #32425c;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
}

.link-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.site-navigation-link {
  display: block;
  padding: 19px 29px 24px 29px;
  color: #ffffff;
  text-decoration: none;
}

.site-navigation-link.current {
  background-color: #293449;

}
.site-navigation-link:hover {
  background-color: #293449;
}

.site-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.button {
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.user-loged,
.info-client {
  list-style: none;
}

.user-loged {
  position: relative;
  width: 299px;
  background-color: #ffffff;
  margin: 0px 1px 5px 0px;
}

.user-loged a {
  text-decoration: none;
}

.loged {
  display: block;
  padding: 12px 30px 12px 47px;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: normal;
}

.loged:active {
  color: rgba(0, 0, 0, 0.3);
}

.loged::before {
  content: "";
  position: absolute;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.log-out::after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 14px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.loged:hover::before {
  background-image: url("../img/icon/icon-user-2.svg");
}

.log-out:hover::after {
  background-image: url("../img/icon/icon-logout-2.svg");
}

.loged:active::before {
  background-image: url("../img/icon/icon-user.svg");
}

.log-out:active::after {
  background-image: url("../img/icon/icon-logout.svg");
}

.info-client {
  position: relative;
  padding: 0px 0px 0px 18px;
}

.my-orders,
.cabinet {
  display: inline-block;
  vertical-align: top;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.my-orders {
  position: relative;
  margin-right: 27px;
}

.my-orders:hover,
.cabinet:hover {
  color: #ee3643;
}

.my-orders:active,
.cabinet:active {
  color: rgba(50, 66, 92, 0.3);
}

.my-orders::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
  background-position: 0 0;
}

.preview {
  margin-top: 57px;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 52px;
}

.offers .flag {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.offers .flag-new {
  background: url("../img/catalog-item/new-flag.png") no-repeat 0 0;
}

.category {
  width: 300px;
  display: block;
  position: relative;
  padding: 23px 130px 23px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.category-name {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 12px;
}

.category-button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 9px 0px 9px 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
}

.category-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.category-materials {
  background-color: #ffbf47;
  margin: 0px 20px 20px 0px;
}

.category-materials::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-tool {
  background-color: #3bbce3;
  margin: 0px 20px 20px 0px;
}

.category-tool::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-equipment {
  background-color: #dc91d8;
  margin: 0px 0px 20px 0px;
}

.category-equipment::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-double {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-sale {
  background-color: #8ed78f;
  margin: 0px 0px 20px 0px;
}

.category-sale::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-delivery {
  background-color: #ffc047;
  margin: 0;
}

.category-delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  height: 266px;
  margin: 0;
  margin-right: 20px;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  z-index: 50;
  bottom: 17%;
  left: 45%;
  width: 60px;
  height: 0px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin: 0px 2px 0px 3px;
  vertical-align: top;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider .arrow-left::before {
	content: "";
	position: absolute;
	z-index: 20;
	left: 22px;
	top: 123px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	display: block;
	width: 28px;
	height: 4px;
	background: #fff;
	cursor: pointer;
}

.slider .arrow-left::after,
.slider .arrow-right::after,
.slider .arrow-right::before {
	content: "";
	position: absolute;
	z-index: 20;
	top: 140px;
	display: block;
	width: 28px;
	height: 4px;
	background: #fff;
	cursor: pointer;
}

.slider .arrow-left::after {
	left: 22px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.slider .arrow-right::after,
.slider .arrow-right::before {
	right: 17px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.slider .arrow-right::after {
	top: 123px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg)
}

#button-1:checked ~ .slider-controls [for=button-1],
#button-2:checked ~ .slider-controls [for=button-2] {
	background:#ee3643
}

.slide {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide-text {
	margin-left: 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	font-style: normal;
	font-family: "PT Sans", Arial, sans-serif;
	color: #fff;
  background: 0 0;
}

.slide-preview {
  font-family: "Cuprum", Arial, sans-serif;
}

.slide .button,
.slide-title {
	font-style: normal;
	font-family: "Cuprum", Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
}

.slide-title {
	margin-bottom: 4px;
  margin-top: 27px;
	background: 0 0;
	font-size: 36px;
	line-height: 30px;
	font-weight: 700;
}

.slide .button {
	display: block;
	width: 195px;
	padding: 10px 0;
	margin-top: 122px;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-align: center;
	background: #ee3643;
	border-radius: 3px;
}

.slide:nth-child(1),
.slide:nth-child(2) {
	background-image: url("../img/catalog-item/slide-image-1.jpg");
	background-repeat: no-repeat;
}

.slide:nth-child(2) {
	background-image: url("../img/catalog-item/slide-image-2.jpg");
}

.slide {
  display: none;
}

#button-1:checked ~ .slides .slide:nth-child(1),
#button-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}

.slide-button:hover,
.popular-button:hover {
  background-color: #ca2c37;
}

.slide-button:active,
.popular-button:active {
  background-color: #ba2732;
}

.popular-manufacturers {
  margin-bottom: 65px;
}

.popular-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f9f5f0;
  margin-bottom: 21px;
}

.popular-name,
.popular-button {
  display: block;
  margin: 0;
}

.popular-name {
  font-size: 30px;
  line-height: 30px;
  padding: 30px 0px 29px 27px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #32425c;
  text-transform: uppercase;
}

.popular-button {
  font-size: 14px;
  line-height: 18px;
  width: 253px;
  margin: 23px 25px 24px 0px;
  padding: 12px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  border-radius: 3px;
}

.main-popular-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 21px;
}

.popular-catalog.catalog-item {
  display: block;
  margin: 0;
  padding: 0;
}

.popular-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 11px;
}

.banner:nth-child(4n){
  margin-right: 0;
}

.banner:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.banner:active {
  -webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.main-service {
  background-color: #f4f7f9;
  margin-bottom: 59px;
}

.service {
  padding-top: 63px;
}

.main-heading.service-heading {
  margin: 0;
  padding: 0px 0px 26px 0px;
}

.service-annotation {
  padding-bottom: 64px;
}

.service-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-block::after {
	content: "";
	position: absolute;
	z-index: 50;
	top: -45px;
	left: 230px;
	width: 10px;
	height: 279px;
	background: url("../img/catalog-item/shadow.png");
  background-repeat: no-repeat;
	background-position: 0 0;
}

.service-switch {
  width: 240px;
  margin-right: auto;
}

.switch-button {
	display: block;
	width: 218px;
	padding: 17px 0px 14px 22px;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	font-family: "Cuprum", Arial, sans-serif;
	text-align: left;
	color: #ffffff;
	background-color: #32425c;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	outline: none;
	cursor: pointer;
}

.switch-button:hover {
  background-color: #293449;
}

#btn-1:checked ~ .service-switch [for=btn-1],
#btn-2:checked ~ .service-switch [for=btn-2],
#btn-3:checked ~ .service-switch [for=btn-3] {
	color: #32425c;
	background: #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	outline: none;
}

.service-block-content {
  width: 620px;
}

.service-touch-button p,
.service-touch-button span {
	display: block;
	font-weight: normal;
	line-height: 24px;
}

.service-touch-button span {
  padding: 9px 0px 31px 0px;
	text-transform: uppercase;
	color: #32425c;
	font-size: 36px;
	font-family: "Cuprum", Arial, sans-serif;
}

.service-touch-button p {
	width: 290px;
	font-size: 13px;
	font-family: "PT Sans", Arial, sans-serif;
}

.credit-button {
	width: 107px;
	display: block;
	margin: 27px 0px 0px 78px;
	padding: 10px 44px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-style: normal;
	font-family: "Cuprum", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background: #ee3642;
	border-radius: 5px;
	outline: none;
}

.deliver,
.warranty,
.credit {
	background-image: url("../img/catalog-item/delivery.png");
	background-position: 100% 122%;
	background-repeat: no-repeat;
}

.credit,
.warranty {
	background-image: url("../img/catalog-item/warranty.png");
	background-position: 103% 25%;
}

.warranty p {
	width: 380px;
}

.credit {
	background-image: url("../img/catalog-item/credit.png");
	background-position: 111% 28%;
}

.service-touch-button {
	display: none;
	padding-bottom: 124px;
}

#btn-1:checked ~ .service-block-content .deliver,
#btn-2:checked ~ .service-block-content .warranty,
#btn-3:checked ~ .service-block-content .credit {
	display: block;
}

.main-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 84px;
}

.main-company {
  width: 545px;
  margin-right: 95px;
}

.main-heading {
  margin-left: 0;
  margin-bottom: 26px;
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.main-contacts {
  width: 300px;
}

.contacts-paragraph {
  width: 179px;
}

.main-paragraph {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.content-paragraph {
  margin-bottom: 24px;
  word-spacing: 0.1em;
}

.about-paragraph {
  margin-bottom: 21px;
}

.contacts-paragraph {
  margin-bottom: 31px;
}

.list-info {
  position: relative;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-bottom: 36px;
  padding-left: 36px;
}

.info-title::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 25px;
  height: 2px;
  margin-top: 9px;
  background-color: #ee3643;
  background-position: 0 0;
}

.info-title:nth-child(1),
.info-title:nth-child(2) {
  padding-bottom: 20px;
}

.content-map {
  margin-bottom: 32px;
}

.map-info {
  display: block;
}

.company-button {
  display: block;
  width: 220px;
  padding: 12px 10px 10px 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.write-us {
  display: block;
}

.write-us-button {
  display: block;
  width: 300px;
  padding: 12px 10px 10px 63px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.main-about .button {
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
}

.main-about .button:hover {
  background-color: #ca2c37;
}

.main-about .button:active {
  background-color: #ba2732;
}

.breadcrumbs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-bottom: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
  text-transform: uppercase;
}

.breadcrumbs-index {
  position: relative;
  top: 2px;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon/icon-home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-index .main-breadcrumbs {
  height: 12px;
}

.breadcrumbs-item {
  padding-right: 41px;
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 17px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item:first-child::after {
  top: 0;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.catalog {
  width: 700px;
}

.catalog-item {
  width: 220px;
  margin: 0px 20px 20px 0px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-heading {
  padding: 29px 30px 29px 27px;
  text-transform: uppercase;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  background-color: #f2f6f8;
  margin: 0;
  margin-bottom: 20px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-search {
  width: 220px;
  margin-right: 20px;
}

.filters {
  padding: 10px 0px 10px 18px;
  background-color: #f7f3ec;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border-radius: 3px;
}

.price-name {
  margin: 12px 0px 14px 0px;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.band-controls {
  position: relative;
  height: 80px;
  padding: 0px 20px 0px 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
  margin-bottom: 9px;
  overflow: hidden;
}

.scale {
  height: 2px;
  margin-top: 39px;
  background: #d7dcde;
}

.bar {
  width: 152px;
  height: 2px;
  background: #00ca74;
}

.band-controls .switch {
  position: absolute;
  display: block;
  top: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.max-switch {
  left: 162px;
}

.price-controls {
  margin-bottom: 25px;
  display: block;
}

.price-controls input[type=text] {
	width: 85px;
	padding: 8px 2px 10px 8px;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	background-color: #f7f3ec;
	border: none;
	border-radius: 3px;
  margin: 0;
}

.dotted-line {
  width: 10px;
  height: 1px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin: 0px 3px 0px 4px;
}

.divider {
  margin: 0px 0px 19px 0px;
  border-bottom-width: 0;
  border: 0.5px solid #e5e5e5;
}

.nutrition {
  margin-bottom: 57px;
}

.filter-search fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 14px;
}

.filter ul {
  padding: 0;
  margin: 0;
}

.filter-option {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  padding-left: 35px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox + label:hover::before {
  background-image: url("../img/icon/checkbox-off-to.svg");
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/icon/checkbox-on.svg");
  opacity: 1;
}

.filter-input-checkbox:checked + label:hover::before {
  background-image: url("../img/icon/checkbox-on-to.svg");
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/icon/checkbox-off-to.svg");
  opacity: 0.3;
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../img/icon/checkbox-on-to.svg");
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label:hover::before {
  background-image: url("../img/icon/radio-off-to.svg");
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label:hover::before {
  background-image: url("../img/icon/radio-on-to.svg");
}

.filter-input-radio:disabled + label::before {
  background-image: url("../img/icon/radio-off-to.svg");
  opacity: 0.3;
}

.filter-input-radio:checked:disabled + label::before {
  background-image: url("../img/icon/radio-on-to.svg");
  opacity: 0.3;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 140px;
  padding: 9px 0px 9px 38px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
  background: none;
}

.sorting {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 10px 19px;
  background-color: #f7f3ec;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.sort-title {
  margin-right: 139px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dotted #ee3643;
}

.to-price {
  display: block;
  margin-right: 71px;
}

.to-type {
  margin-right: 65px;
}

.to-function {
  margin-right: 41px;
}

.to-up {
  margin-right: 10px;
}

.to-up,
.to-down {
  position: relative;
  width: 20px;
  height: 20px;
}

.sort-up {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/icon-up.svg");
  background-size: 11px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.sort-down {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/icon-down.svg");
  background-size: 11px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.sort-up:hover,
.sort-down:hover {
  opacity: 0.3;
}

.sort-up:active,
.sort-up.check {
  background-image: url("../img/icon/icon-up-2.png");
  opacity: 1;
}

.sort-down:active,
.sort-down.check {
  background-image: url("../img/icon/icon-down-2.png");
  opacity: 1;
}

.sort-link:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-link:active,
.sort-link.check {
  color: #ee3643;
  border: none;
}

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 700px;
  margin: 20px auto 33px auto;
}

.catalog-item {
  position: relative;
  display: block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-item:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/catalog-item/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.actions .bookmark:hover {
  border-color: #32425c;
}

.actions .bookmark:active {
  border-color: #32435c;
  opacity: 0.3;
}

.actions .buy::before {
  content: "";
  position: absolute;
  left: 58px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.actions .buy:hover {
  background-color: #5fbb2d;
  border-top-color: #5fbb2d;
  border-right-color: #5fbb2d;
  border-left-color: #5fbb2d;
}

.actions .buy:hover::before {
  opacity: 1;
}

.actions .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.image img {
  max-width: 100%;
}

.catalog-item .title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 11px;
}

.catalog-item .discount {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  min-height: 20px;
  margin-bottom: 8px;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item .price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  position: relative;
  width: 80px;
  margin: 0px auto 20px auto;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.previous {
  display: block;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  border: 1px solid #e5e5e5;
  padding: 8px 14px 10px 16px;
  margin-right: 9px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

.following {
  display: block;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  border: 1px solid #e5e5e5;
  padding: 8px 31px 10px 31px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.previous:hover,
.following:hover {
  border-color: #bdc6ca;
}

.previous:active,
.following:active {
  border-color: #ee3643;
}

.previous.active-page {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;

}

.about {
  background-color: #f4f7f9;
}

.about-product {
  padding: 40px 0px 68px 0px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.main-footer {
  background-color: #32425c;
  color: #ffffff;
}

.main-footer a {
  color: #ffffff;
}

.logo-address {
  width: 340px;
  margin-right: auto;
}

.logo-footer {
  position: relative;
  display: block;
  width: 220px;
  line-height: 63px;
  font-size: 30px;
  background-color: #ee3643;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.logo-footer::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0,0,0,0.24);
          box-shadow: inset 0px -5px 0 0 rgba(0,0,0,0.24);
}

.logo-footer:hover {
  background-color: #ca2c37;
}

.logo-footer:active {
  background-color: #ba2732;
}

.address-footer {
  padding-left: 3px;
}

.address-footer p {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-top a {
  text-decoration: none;
}

.footer-phone {
  color: inherit;
}

.footer-navigation-item {
  width: 550px;
}

.footer-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-top: 38px;
  margin-bottom: 34px;
}

.link-footer {
  display: block;
  margin: 0px 30px 0px 29px;
}

.link-footer:first-child {
  margin-left: 0;
}

.link-footer:last-child {
  margin-right: 0;
}

.footer-navigation a {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-item {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-item a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-item a:hover {
  text-decoration: underline;
}

.footer-item a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom {
  background-color: #293449;
  color: #ffffff;
}

.copyright-top,
.copyright-bottom {
  margin: 0;
}

.copyright-top {
  margin-top: 38px;
}

.copyright-bottom {
  margin-bottom: 34px;
}

.footer-bottom a {
  color: #ffffff;
  text-decoration: none;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  width: 228px;
  margin-right: 161px;
}

.footer-social {
  width: 132px;
  margin-right: 119px;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 30px;
}

.social-button {
  display: block;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-vk,
.social-fb {
  margin-right: 3px;
}

.social-vk::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 8px;
  width: 26px;
  height: 16px;
  background-image: url("../img/icon/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-fb::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 12px;
  height: 22px;
  background-image: url("../img/icon/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-insta::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.feedback-produced {
  margin-right: 15px;
}

.feedback {
  width: 135px;
  margin-right: 53px;
}

.produced {
  width: 112px;
}

.feedback,
.produced {
  font-size: 16px;
  line-height: 18px;
}

.feedback a,
.produced a {
  color: #ffd180;
}

.feedback a:hover,
.produced a:hover {
  text-decoration: underline;
}

.feedback a:active,
.produced a:active {
  text-decoration: none;
  color: #ee3643;
}

.modal-write-us {
  position: fixed;
  display: block;
  width: 620px;
  top: 5%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
}

.write-to-us {
  margin: 0;
  display: block;
  padding-bottom: 22px;
}

.write-to-us:last-child {
  padding-bottom: 37px;
}

.answer-form {
  padding: 24px 80px 0px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.write-us-name,
.write-us-email {
  width: 200px;
  padding: 11px 0px 11px 16px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #dee3e4;
  border-radius: 5px;
}

.write-us-text {
  padding: 11px 0px 0px 16px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #dee3e4;
  border-radius: 5px;
  max-width: 444px;
}

.write-us-name:hover,
.write-us-email:hover,
.write-us-text:hover {
  border-color: #b5b5b5;
}

.write-us-name:focus,
.write-us-email:focus,
.write-us-text:focus {
  border-color: #ee3643;
}

.form-button {
  padding: 37px 0px 37px 0px;
  background-color: #f4f4f4;
  display: block;
}

.modal-send {
  width: 460px;
  margin: 0 0 0 80px;
  padding: 11px 50px 8px;
  text-align: center;
  color: #fff;
}

.modal-close-write,
.modal-close-map {
  position: relative;
  padding: 0;
  border: none;
}

.modal-close-write::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -610px;
  width: 21px;
  height: 21px;
  background: url("../img/icon/icon-close.svg");
  background-repeat: no-repeat;
  position: 0 0;
}

.modal-write-us {
  display: none;
}

.modal-write-us-active {
  display: block;
  animation: bounceInUp 0.4s;
}

.modal-map {
  position: fixed;
  display: block;
  width: 940px;
  height: 446px;
  top: 5%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-close-map::after {
  content: "";
  position: absolute;
  top: -460px;
  right: -930px;
  width: 21px;
  height: 21px;
  background: url("../img/icon/icon-close.svg");
  background-repeat: no-repeat;
  position: 0 0;
}

.modal-map {
  display: none;
}

.modal-map-active {
  display: block;
  animation: bounceInUp 0.4s;
}

.modal-added-to-cart {
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 200;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  border-top: 7px solid #ee3643;
  width: 620px;
  background: #fff;
  -webkit-box-shadow: 0 30px 50px rgba(0,0,0,.7);
          box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

.modal-added {
  padding: 68px 0px 68px 179px;
}

.added-to-cart {
  position: relative;
  font-size: 30px;
  line-height: 30px;
}

.added-to-cart::before {
  position: absolute;
  content: "";
  top: -15px;
  left: -90px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-close-buy {
  padding: 0;
  border: none;
}

.modal-close-buy::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 20px;
  height: 5px;
  background: #ee3643;
  border: none;
  cursor: pointer;
}

.modal-close-buy::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 20px;
  height: 5px;
  background: #ee3643;
  border: none;
  cursor: pointer;
}

.modal-checkout {
  background-color: #f1f1f1;
}

.button-checkout,
.modal-continue {
  display: block;
  width: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 5px;
}

.block-checkout {
  padding-top: 37px;
  padding-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-checkout {
  margin-left: 80px;
  margin-right: 20px;
  padding: 12px 0px 12px 0px;
  background-color: #ee3643;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.modal-continue {
  padding: 12px 0px 12px 0px;
  border: none;
}

.modal-added-to-cart {
  display: none;
}

.modal-added-to-cart-active {
  display: block;
  animation: bounceInUp 0.4s;
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(-50%, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-50%, -20px, 0);
  }

  75% {
    transform: translate3d(-50%, 10px, 0);
  }

  90% {
    transform: translate3d(-50%, -5px, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}
